<header>
    <section class="first-section">
    <img loading="lazy" src="./assets/img/mercado-libre.png" alt="" class="mercado-libre" >
    <input  class="first-input" type="search" placeholder="BUSCAR PRODUCTOS MARCAS Y MAS">
    <img class="search"src="./assets/img/buscador.svg" alt="">
    <a class="one"href="">Ingresa tu <br>
    codigo postal</a>
    <img loading="lazy" src="./assets/img/marcador-de-posicion.svg" alt="" class="logo-ubication">
    <a class="two" href="">Categorias</a>
    <a class="three" routerLink="/ofertas">Ofertas</a>
    <a class="four" href="">Historial</a>
    <a class="five" routerLink='/supermercado'>Supermercado</a>
    <a class="six" routerLink="/moda">Moda</a>
    <a class="seven" href="">Vender</a>
    <a class="eight"ref="">Ayuda</a>
    <a class="nine"href="">Crear cuenta</a> 
    <a class="teen" href="">Ingresa</a>
    <a class="eleven" href="">Mis compras</a>
    <img loading="lazy" src="./assets/img/carrito.png" alt="" class="logo-car">
    <a class="twelf" href="">Algo HOT esta llegando ¡Preparate!</a>
    <img loading="lazy" src="./assets/img/flama.png" alt="" class="logo-flame">
</section>
</header>

<section class="second-section">
     <img loading="lazy" src="./assets/img/publicidad.jpg" alt=""class="publicity">
</section>
