<header>
    <nav class="header">
<div class="first-section-header">
    <img loading="lazy" src="./assets/img/mercado-libre.png" alt="" class="mercado-libre" >
</div>
<div class="second-section-header">
    
     <input  class="first-input" type="search" placeholder="Buscar productos marcas y mas...">
</div>
<img class="search"src="./assets/img/buscador.svg" alt="">
<div class="third-section-header">
    <img loading="lazy" src="./assets/img/flama.png" alt="" class="logo-flame">
    <a class="anounce" href="">Algo HOT esta llegando ¡Preparate!</a>
    
</div>
<img loading="lazy" src="./assets/img/marcador.svg" alt="" class="logo-ubication">
<div class="four-section-header">
    <a class="one"href=""> Ingresa tu  <br> codigo postal</a>
</div>
<div class="five-section-header">
    <a class="two" href="">Categorias</a>
    <a class="two" routerLink="/ofertas">Ofertas</a>
    <a class="two" routerLink="/historial">Historial</a>
    <a class="two" routerLink='/supermercado'>Supermercado</a>
    <a class="two" routerLink="/moda">Moda</a>
    <a class="two" routerLink="/vender">Vender</a>
    <a class="two" href="">Ayuda</a>
</div>
<div class="six-section-header">   
    <a class="three" routerLink="/crear-cuenta">Crear cuenta</a> 
    <a class="three" routerLink="/ingresa">Ingresa</a>
    <a class="three" routerLink="/mis-compras">Mis compras</a>
    <img loading="lazy" src="./assets/img/carrito.png" alt="" class="logo-car">
</div>     
</nav>
</header>


