
<footer class="footer">
              
    <div class="footer-content">
      
      <a class="footer-a" href="">Trabaja con nosotros</a>
      <a class="footer-a"href="">Terminos y condiciones</a>
      <a class="footer-a"href="">Como cuidamos tu privacidad</a>
      <a class="footer-a"href="">Ayuda</a>
      <p class="footer-text-1">Copyright © 1999-2021 DeRemate.com de México S. de R.L. de C.V</p>
      <p class="footer-text-2">Insurgentes Sur 1602 Piso 9 Suite 900, Crédito Constructor Benito Juarez, 03940 Ciudad de México, CDMX, Mexico</p>  
    </div>          
  </footer>
