<!-- PRIMERA SECCION -->
<section class="five-section">
        <div class="container-publicity">
            <img src="./assets/img/men.jpg" alt="" class="img-publicity2">
            <h2 class="h2-container">HOMBRES</h2>
        </div>
         <div class="container-publicity2">
           <img loading="lazy" src="./assets/img/woman.jpg" alt="" class="img-publicity2">
           <h2 class="h2-container">MUJERES</h2>
        </div>

        <div class="container-publicity3" > 
           <img loading="lazy" src="./assets/img/transgenero.jpg" alt="" class="img-publicity2">
           <h2  class="h2-container">SIN GENERO</h2>
        </div>
        <div class="container-publicity" id="container-publicity-1">
            <img src="./assets/img/child.jpg" alt="" class="img-publicity2">
            <h2 class="h2-container">NIÑAS</h2>
        </div>
         <div class="container-publicity2" id="container-publicity-2">
           <img loading="lazy" src="./assets/img/kid.jpg" alt="" class="img-publicity2">
           <h2  class="h2-container">NIÑOS</h2>
        </div>

        <div class="container-publicity3" id="container-publicity-3"> 
           <img loading="lazy" src="./assets/img/baby.jpg" alt="" class="img-publicity2">
           <h2  class="h2-container">BEBES</h2>
        </div>
    </section>


<!-- TERCER SECCION -->

    <section class="six-section">   
        <div class="container-publicity4" id="container-publicity-watch">
            <img src="./assets/img/reloj.jpg" alt="" class="img-publicity3">
            <h2 class="h2-container">JOYAS Y RELOJES</h2>
        </div>
         <div class="container-publicity5" id="container-publicity-bags">
           <img loading="lazy" src="./assets/img/equipaje.jpg" alt="" class="img-publicity3">
           <h2 class="h2-container">EQUIPAJE Y BOLSAS</h2>
        </div>

        <div class="container-publicity6" id="container-publicity-6"> 
           <img loading="lazy" src="./assets/img/zapatos.jpg" alt="" class="img-publicity3">
           <h2  class="h2-container">ZAPATOS Y ZAPATILLAS</h2>
        </div>
        <div class="container-publicity7" id="glases">
            <img src="./assets/img/lentes.jpg" alt="" class="img-publicity3">
            <h2 class="h2-container">LENTES</h2>
        </div>
        <div class="container-publicity4" id="container-publicity-underwear">
            <img src="./assets/img/underwear.jpg" alt="" class="img-publicity3">
            <h2 class="h2-container">UNDERWEAR</h2>
        </div>
         <div class="container-publicity5" id="container-publicity-pants">
           <img loading="lazy" src="./assets/img/jeans.jpg" alt="" class="img-publicity3">
           <h2 class="h2-container">PANTALONES Y JEANS</h2>
        </div>

        <div class="container-publicity6" id="container-publicity-baby"> 
           <img loading="lazy" src="./assets/img/ropa-bebe.jpg" alt="" class="img-publicity3">
           <h2  class="h2-container">BEBES</h2>
        </div>
        <div class="container-publicity7" id="t-shirt">
            <img src="./assets/img/camisa.jpg" alt="" class="img-publicity3">
            <h2 class="h2-container">PLAYERAS</h2>
        </div>
    </section>


    <!-- COMPRAS PARA AGREGAR A CARRITO -->
    
    <section class="four-section">
        <h2 class="first-title">ENCUENTRA TUS FAVORITOS</h2>
         <a class="sub-title" href="">Ver todas</a>
          <div class="container" id="watchs">
              <img loading="lazy" src="./assets/img/camisa.png" alt="" class="second-image">
              <h3 class="price">$ 3,333</h3>
              <h5 class="promotion">12x $270.00 sin intereses</h5>
              <a class="travel"href="">Envio gratis</a>
              <img class="third-image" src="./assets/img/free.svg" alt="">
              <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
              <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
          </div>
          <div class="container" id="laptop">
            <img  loading="lazy" src="./assets/img/pantalon-caqui.png" alt=""class="three-image">
            <h3 class="price">$ 2,222</h3>
              <h5 class="promotion">12x $270.00 sin intereses</h5>
              <a class="travel" href="">Envio gratis</a>
              <img class="third-image" src="./assets/img/free.svg" alt="">
              <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
              <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
        </div>
        <div class="container" id="clothes">
            <img loading="lazy" src="./assets/img/chelsea-boots-cafe.png" alt=""class="four-image" >
            <h3 class="price">$ 1,111</h3>
              <h5 class="promotion">12x $270.00 sin intereses</h5>
              <a class="travel" href="">Envio gratis</a>
              <img class="third-image" src="./assets/img/free.svg" alt="">
              <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
              <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
        </div>
        <div class="container" id="shoes">
            <img loading="lazy" src="./assets/img/blazer.png" alt="" class="five-image">
            <h3 class="price">$ 9,999</h3>
              <h5 class="promotion">12x $270.00 sin intereses</h5>
              <a class="travel" href="">Envio gratis</a>
              <img class="third-image" src="./assets/img/free.svg" alt="">
              <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
             <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
        </div>
        <div class="container" id="headphone">
            <img loading="lazy" src="./assets/img/corbata.png" alt=""class="six-image" >
            <h3 class="price">$ 8,888</h3>
              <h5 class="promotion">12x $270.00 sin intereses</h5>
              <a class="travel" href="">Envio gratis</a>
              <img class="third-image" src="./assets/img/free.svg" alt="">
              <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
              <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
        </div>
        <img src="" alt="">
        <img src="" alt="">
     </section>



     <section class="five-section-moda">
        <div class="container-promotion-1" id="sport">
            <img src="./assets/img/pesas.jpg" alt="" class="img-promotion">
            <h2 class="h2-container-1">DEPORTES</h2>
        </div>
         <div class="container-promotion-2" id="beautiful">
           <img loading="lazy" src="./assets/img/belleza.jpg" alt="" class="img-promotion">
           <h2 class="h2-container-1">BELLEZA</h2>
        </div>
        <div class="container-promotion-1" id="ofert">
            <img src="./assets/img/ofertas.jpg" alt="" class="img-promotion">
            <h2 class="h2-container-1">OFERTAS DE LA SEMANA</h2>
        </div>
         <div class="container-promotion-2" id="fashion">
           <img loading="lazy" src="./assets/img/ropa.jpg" alt="" class="img-promotion">
           <h2 class="h2-container-1">MODA IMPORTADA</h2>
        </div>
    </section>


    <section class="last-section">
        <div class="container-first-option">
            <ul class="ul-last-1">
           <li class="title-list"><a href="">Abrigos</a></li>
           <li><a href="">Saquitos, Sweaters y Chalecos</a></li> 
           <li><a href="">Sudaderas y Hoodies</a></li> 
           <li><a href=""> Otros</a></li> 
           <li class="title-list"><a href="">Accesorios de Moda</a></li>
           <li><a href="">Abanicos</a></li>
           <li><a href="">Antifaces para Dormir</a></li>
           <li><a href="">Bufandas y Pañuelos</a></li>
           <li><a href="">Calentadores</a></li>
           <li><a href="">Cinturones</a></li>
           <li><a href="">Corbatas</a></li>
           <li><a href="">Cubrebocas Reutilizables</a></li>
           <li><a href="">Espejitos</a></li>
           <li><a href=""> Fajas</a></li>
           <li><a href="">Filtros para Cubrebocas</a></li>
           <li><a href="">Gorros y Sombreros</a></li>
           <li><a href="">Guantes</a></li>
           <li><a href="">Lentes</a></li>
           <li><a href=""> Llaveros</a></li>
           <li><a href="">Orejeras</a></li>
           <li><a href="">Paraguas</a></li>
           <li><a href="">Pareos</a></li>
           <li><a href="">Pisacorbatas</a></li>
           <li><a href="">Prendedores y Broches</a></li>
           <li><a href="">Tirantes</a></li>
           <li><a href="">Toallas de Playa</a></li>
           <li><a href="">Otros Accesorios</a></li>
        </ul>
     </div>
        <div class="container-second-option">
            <ul class="ul-last-1">
            <li class="title-list"><a href="">Bermudas y Shorts</a></li>  
            <li class="title-list"><a href="">Blusas</a></li>
            <li class="title-list"><a href="">Calzado</a></li>
            <li><a href="">Alpargatas</a></li>
            <li><a href="">Botas y Botinetas</a></li>
            <li><a href="">Flats</a></li>
            <li><a href="">Mocasines y Náuticos</a></li>
            <li><a href="">Pantuflas</a></li>
            <li><a href="">Sandalias y Ojotas</a></li>
            <li><a href="">Tenis</a></li>
            <li><a href="">Zapatillas y Tacones</a></li>
            <li><a href="">Zuecos y Mules</a></li>
            <li><a href="">Otros</a></li>
            <li class="title-list"><a href="">Camisas</a></li>
            <li class="title-list"><a href="">Equipaje y Bolsas</a></li>
            <li><a href="">Accesorios</a></li>
            <li><a href="">Bandoleras y Portafolios</a></li>
            <li><a href="">Bolsas</a></li>
            <li><a href="">Cangureras</a></li>
            <li><a href="">Equipaje y Accesorios de Viaje</a></li>
            <li><a href="">Kits de Mochilas Escolares</a></li>
            <li><a href="">Luncheras Escolares</a></li>
            <li><a href="">Mochilas</a></li>
            <li><a href="">Monederos y Carteras</a></li>
            <li><a href="">Neceseres</a></li>
            <li><a href="">Otros</a></li>
        </ul>
    </div>
        <div class="container-third-option">
          <ul>
            <li class="title-list"><a href="">Faldas</a></li>
            <li class="title-list"><a href="">Indumentaria Laboral </a></li>
            <li><a href="">Accesorios Tácticos</a></li>
            <li><a href="">Batas Escolares</a></li>
            <li><a href="">Ropa Militar y Policial</a></li>
            <li><a href="">Uniformes Escolares</a></li>
            <li><a href="">Uniformes y Ropa de Trabajo</a></li>
            <li><a href="">Otros</a></li>
            <li class="title-list"><a href="">Jumpsuite y Overoles</a></li>
            <li class="title-list"><a href="">Kimonos</a></li>
            <li class="title-list"><a href="">Leggings</a></li>
            <li class="title-list"><a href="">Lotes de Ropa</a></li>
            <li class="title-list"><a href="">Pantalones y Jeans</a></li>
            <li class="title-list"><a href="">Playeras</a></li>
            <li class="title-list"><a href=""></a></li>
        </ul>
        </div>
        <div class="container-quarter-option">
          <ul>
             <li class="title-list"><a href="">Ropa Deportiva</a></li>
             <li><a href=""> Bolsas Deportivas</a></li>
             <li><a href="">Calcetas y Calcetines</a></li>
             <li><a href="">Chamarras</a></li>
             <li><a href="">Conjuntos</a></li>
             <li><a href="">Gorras</a></li>
             <li><a href="">Guantes</a></li>
             <li><a href="">Leggings y Lycras</a></li>
             <li><a href="">Mangas de Compresión</a></li>
             <li><a href="">Pants</a></li>
             <li><a href="">Playeras</a></li>
             <li><a href="">Ropa de Danza y Patín</a></li>
             <li><a href="">Shorts</a></li>
             <li><a href="">Sudaderas</a></li>
             <li><a href="">Tobilleras</a></li>
             <li><a href="">Tops Deportivos</a></li>
             <li><a href="">Vestidos</a></li>
             <li><a href="">Otros</a></li>
             <li class="title-list"><a href="">Ropa Interior y de Dormir</a></li>
             <li><a href="">Ropa Interior</a></li>
             <li><a href="">Ropa para Dormir</a></li>
         </ul>
        </div>
        <div class="container-fifth-option">
          <ul>
             <li class="title-list"><a href="">Ropa para Bebés</a></li>             
             <li><a href="">Accesorios</a></li>
             <li><a href="">Batas</a></li>
             <li><a href="">Blusas</a></li>
             <li><a href="">Calcetas</a></li>
             <li><a href="">Calzado</a></li>
             <li><a href="">Camisas</a></li>
             <li><a href="">Chamarras</a></li>
             <li><a href="">Conjuntos</a></li>
             <li><a href="">Faldas</a></li>
             <li><a href="">Kits para Salida del Hospital</a></li>
             <li><a href="">Mamelucos y Pañaleros</a></li>
             <li><a href="">Overoles</a></li>
             <li><a href="">Pantalones</a></li>
             <li><a href="">Pijamas</a></li>
             <li><a href="">Playeras</a></li>
             <li><a href="">Shorts</a></li>
             <li><a href="">Sudaderas</a></li>
             <li><a href="">Sweaters</a></li>
             <li><a href="">Trajes de baño</a></li>
             <li><a href="">Vestidos</a></li>
             <li><a href="">Otros</a></li>
             <li class="title-list"><a href="">Trajes</a></li>
             <li class="title-list"><a href="">Trajes de Baño</a></li>
             <li class="title-list"><a href="">Vestidos</a></li>
             <li class="title-list"><a href="">Otros</a></li>
            </ul>
        </div>
        







        
        
        
        
        
        
        
        
        
        
        
        
        













       

        
        
        
        
       
        
        
        
        
        
        
        
        











    </section>