
<div class="container-title">
<h2 class="h2-account">Completa tus datos</h2>
<a  class="a-account" href="">Crear una cuenta de empresa ></a>
</div>

<section class="create-account">
        <div class="container-nombre">
        <p>Nombre</p>
        <input class="input-form"type="text" name="name" >
    </div>
    <div  class="container-apellido">
        <p>Apellido</p>
        <input class="input-form" type="text" name="name" >
    </div>
    <div  class="container-email">
        <p>Email</p>
        <input class="input-form" type="text" name="name" >
    </div>
    <div  class="container-clave">
        <p>Clave</p>
        <input class="input-form" type="text" name="name" >
    </div>
    
    <div  class="container-checkbox">
        <p class="a-checkbox">Declaro que soy mayor de edad, acepto los <a href="">terminos y condiciones</a> y autorizo el uso de mis datos de acuerdo al acuerdo a la <a href="">Declaracion de privacidad</a></p>
        <input class="checkbox" type="checkbox" name="checkbox">
        
    </div>
</section>
