.third-section{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 100%;
    background-color: white;
    border: 2px solid gainsboro;
    max-width: 1100px;
    max-height: 103px;
    margin: auto;
    margin-top: 36px;
    
}

.thirteen{
grid-column: 1;
grid-row: 1;
justify-self: center;
align-self: center;

padding: 50px;

}


.fifteen{
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.sixteen{
    justify-self: center;
    align-self: center;
}

.more-information{
    height: 40px;
    width: 150px;
    text-align: center;
    margin-top: 25px;
    justify-self: center;
    align-self: center;
    background-color: blue;
    color: white;
}





/*AQUI EMPIEZA LA CUARTA SECCION*/

.four-section{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: 15% 85%;
    max-width: 1100px;
    max-height: 400px;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 100px;
}

.container{
    background-color: white;
    width:203px;
    height: 410px;
    grid-row: 2;
    justify-self:start;
    
}

.container img{
    width:200px;
    height:210px;
    border-bottom: 1px solid gainsboro;
}

.container h3,h5,a,p{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.price{
    color:rgba(0,0,0,.8);
    font-size:24px
    }

    .promotion{
        color:#00a650;
        font-size: 14px;
        
    }

    .travel{
        color:#00a650;
        font-size: 18px;
        text-decoration: none;
    }

    .description{
        font-size: 14px;
        
    }

    .container > .button-containe ,.a-container{
      text-decoration: none;
      color: #3483fa;
      margin-right: 18px;
    }

     .container >.button-container{
        padding: 8px;
        
        justify-self: center;
        width: 175px;
        color: #3483fa;
        border: #3483fa 1px solid;
        margin-left: 13px;
        background: white;
        cursor: pointer;
    }

    .container >.button-container:hover{
      background: whitesmoke;
    }

    .container .third-image{
        width:29px;
        height:23px

    }


.first-title{
grid-column: 1/5;
grid-row: 1;
justify-self:start;
align-self:center;
margin-left: 10px;
color: #666;
}



.sub-title{
    grid-column: 3/5;
    grid-row: 1;
    margin-top: 15px;
    justify-self:center;
    align-self:center;
    margin-right: 50px;
    text-decoration: none;
    color:var(--color1);

}

.sub-title-1{
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 15px;
    justify-self:center;
    align-self:center;
    margin-right: 50px;
    text-decoration: none;
    color:var(--color1);

}

.five-section{
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
    
    
    
    

}

.container-publicity{
   background-color: white;
   max-height: 290px;
   border-radius: 10px;
   margin-top: 20px;
   margin-left: 325px;
  
   
   
   
}

.container-publicity,.img-publicity{
    grid-column: 4/5;
    
    
}

.container-publicity2{
    background-color: white;
    max-height: 290px;
    border-radius: 10px;
    margin-top: 20px;
 }

.container-publicity2,.img-publicity2{
    grid-column: 6/7;
}

.container-publicity3{
    background-color: white;
   max-height: 290px;
   border-radius: 10px;
   margin-top: 20px;
 }

.container-publicity3,.img-publicity2{
    grid-column: 8/9;
}

.h2-container{
  grid-row: 2;
  text-align: center;
  margin-top: 5px;
  align-self: center;
}

.img-publicity2{
    width: 345px;
    height: 250px;
    
   
}



@media (max-width: 1440px){

.five-section{
    margin-left: -198px;
    grid-gap: 12px;
}


}

@media (max-width: 1024px){

#deodorant{
    display: none;
}

.four-section{
    margin-left: 31px;
    min-width: 1205px;
}

.container > img{
    width: 224px;
    height: 210px;
}

.container{
    width: 224px;
}

.img-publicity2{
    width: 300px;
}

.five-section{
    margin-left: -330px;
}

#jam{
    display: none;
}




}

@media (max-width: 768px){

    #soap{
        display: none;
    }
    
    #bimbo{
        display: none;
    }

.five-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-right: 4px;
    margin-top: 178px;
}

.container-publicity{
    grid-column: 1;
    grid-row: 1;
    margin-left: 380px;
    margin-top: 7px;
}

.container-publicity2{
    grid-column: 1;
    grid-row: 2;
    margin-left: 380px;
    margin-top: 6px;
}


.container-publicity3{
    grid-column: 1;
    grid-row: 3;
    margin-left: 380px;
    margin-top:5px;
}

#container-publicity{
    grid-column: 2;
    grid-row: 1;
    margin: auto;


}

#container-publicity2{
    grid-column: 2;
    grid-row: 2;
    margin: auto;


}

#container-publicity3{
    grid-column: 2;
    grid-row: 3;
    margin: auto;


}

.third-section{
    grid-template-columns: 10% 30% 30% 20%;
}

.sixteen{
    font-size: 12px;
}

.fifteen{
    font-size: 16px;
}

.thirteen{
    font-size: 16px;
}

.more-information{
    margin-left: 84px;
    margin-top: 0px;
}

.sub-title{
    margin-right: 129px;
}


}


@media (max-width: 425px){


.four-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

#container-1{
    grid-column: 1;
    grid-row: 1;
    margin-top: 27px;
    width: 321px;
    height: 550px;
    margin-left: 12px;
}

#container-2{
    grid-column: 1;
    grid-row: 2;
    margin-top: 27px;
    width: 321px;
    height: 550px;
    margin-left: 12px;
}

#container-3{
    grid-column: 1;
    grid-row: 3;
    margin-top: 27px;
    width: 321px;
    height: 550px;
    margin-left: 12px;
}

.five-section{
    margin-top: 1402px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-left: -377px;
    margin-bottom: 48px;
}


.container-publicity{
grid-column: 1;
grid-row: 1;
margin-left: 379px;
width: 390px;

}

.container-publicity2{
    grid-column: 1;
    grid-row: 2;
    width: 390px;
    
    }

.container-publicity3{
grid-column: 1;
grid-row: 3;
width: 390px;

}

#container-publicity{
grid-column: 1;
grid-row: 4;
margin-left: 380px;

}

#container-publicity2{
grid-column: 1;
grid-row: 5;
margin-left: 380px;

}

#container-publicity3{
grid-column: 1;
grid-row: 6;
margin-left: 380px;

}

.img-publicity2{
    height: 250px;
    width: 390px;
}


.container img{
    width: 321px;
    height: 334px;
}

.first-title{
    display: none;
}

.sub-title-1{
    display: none;
}

.third-section{
    display: none;

}





}