<section class="third-section">
    <h3 class="thirteen">Compra mas y paga menos</h3>
    <h3 class="fifteen">15% menos en tu carrito <br>
        10% menos en tu carrito</h3>
    <p class="sixteen">"El descuento se acomula con otras promociones. Agrega productos con la leyenda "Hasta 15% OFF comprando mas</p>
    <button class="more-information">Mas informacion</button>
</section>


<section class="four-section">
   <h2 class="first-title">¡15% EXTRA COMPRANDO 15 O MAS PRODUCTOS!</h2>
    <a class="sub-title" href="">Ver todas</a>
     <div class="container">
         <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
         <h3 class="price">$ 3,333</h3>
         <h5 class="promotion">12x $270.00 sin intereses</h5>
         <a class="travel"href="">Envio gratis</a>
         <img class="third-image" src="./assets/img/free.svg" alt="">
         <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
         <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
     </div>
     <div class="container">
       <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
       <h3 class="price">$ 2,222</h3>
         <h5 class="promotion">12x $270.00 sin intereses</h5>
         <a class="travel" href="">Envio gratis</a>
         <img class="third-image" src="./assets/img/free.svg" alt="">
         <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
         <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
   </div>
   <div class="container">
       <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
       <h3 class="price">$ 1,111</h3>
         <h5 class="promotion">12x $270.00 sin intereses</h5>
         <a class="travel" href="">Envio gratis</a>
         <img class="third-image" src="./assets/img/free.svg" alt="">
         <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
         <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
   </div>
   <div class="container">
       <img loading="lazy" src="./assets/img/tenis.png" alt="" class="five-image">
       <h3 class="price">$ 9,999</h3>
         <h5 class="promotion">12x $270.00 sin intereses</h5>
         <a class="travel" href="">Envio gratis</a>
         <img class="third-image" src="./assets/img/free.svg" alt="">
         <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
        <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
   </div>
   <div class="container">
       <img loading="lazy" src="./assets/img/audifonos.jpg" alt=""class="six-image" >
       <h3 class="price">$ 8,888</h3>
         <h5 class="promotion">12x $270.00 sin intereses</h5>
         <a class="travel" href="">Envio gratis</a>
         <img class="third-image" src="./assets/img/free.svg" alt="">
         <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
         <button class="button-container"><a href="" class="a-container">Agregar carrito</a></button>
   </div>
   <img src="" alt="">
   <img src="" alt="">
</section>


<section class="five-section">
  <div class="container-publicity">
      <img src="./assets/img/pasta.jpg" alt="" class="img-publicity2">
      <h2 class="h2-container">CUIDADO PERSONAL</h2>
  </div>
   <div class="container-publicity2">
     <img loading="lazy" src="./assets/img/woman.jpg" alt="" class="img-publicity2">
     <h2 class="h2-container">CUIDADO DEL HOGAR</h2>
  </div>

  <div class="container-publicity3"> 
     <img loading="lazy" src="./assets/img/transgenero.jpg" alt="" class="img-publicity2">
     <h2  class="h2-container">BEBES</h2>
  </div>
  <div class="container-publicity">
      <img src="./assets/img/child.jpg" alt="" class="img-publicity2">
      <h2 class="h2-container">DESPENSA</h2>
  </div>
   <div class="container-publicity2">
     <img loading="lazy" src="./assets/img/kid.jpg" alt="" class="img-publicity2">
     <h2  class="h2-container">BEBIDAS</h2>
  </div>

  <div class="container-publicity3"> 
     <img loading="lazy" src="./assets/img/baby.jpg" alt="" class="img-publicity2">
     <h2  class="h2-container">MASCOTAS</h2>
  </div>
</section>



