<div>
    <p>También puede interesarte: <a href=""> xiaomi band 4</a> <a href=""> smart watch xiaomi</a> <a href=""> smartwatch</a> <a href=""> galaxy watch active 2</a> <a href=""> iwatch apple</a> <a href=""> reloj huawei</a></p>
    <p><a href="">Volver al listado</a> <a href="">Celulares y Telefonia</a> <a href="">Smartwatches y Accesorios</a> <a href="">Smartwatches</a> <a href="">Xiaomi</a> <a href="">Mi Smart Banda</a></p>
    <p><a href="">Compartir</a>| <a href="">Vender uno igual</a></p>
</div>
<section class="full-section">
<section class="first-section-product">
    <div class="container-pictures">
      <img class="first-image-product"src="./assets/img/reloj.jfif" alt="">
      <img class="second-image-product"src="./assets/img/reloj.jfif" alt="">
      <img class="third-image-product"src="./assets/img/reloj.jfif" alt="">
      <img class="fourth-image-product"src="./assets/img/reloj.jfif" alt="">
    </div>
    <div class="container-description-product">
       <p>Nuevo | 111907 vendidos <img src="" alt=""></p>
       <h3 class="title-product">Xiaomi Mi Smart Band 5 1.1" caja de plástico pc malla black de elastómero termoplástico y aleación de aluminio <br> XMSH10HM</h3>
       <a href=""> <p class="p-product"> 0 opiniones</p></a>
       <img class="mercado" src="./assets/img/mercado.png" alt="">
       <p class="smartphone"> <strong  class="logo-mercado"> RECOMENDADO</strong> en smartwatches</p>
       <p class="price-product">$586.99</p>  <p class="price-promotion"><br> en 12x $58.89 <br> IVA incluido</p> 
       
        <a class="a-product" href="">Ver medios de pago</a>
        <p class="you-now">Lo que tienes que saber de este producto</p>
        <div class="p2-product">
            <li class="list-p">Pantalla táctil AMOLED de 1.1".</li>
            <li class="list-p">Recibe notificaciones de WhatsApp.</li>
            <li class="list-p">Reproduce audio.</li>
            <li class="list-p">Resiste hasta 50m bajo el agua.</li>
            <li class="list-p">Batería de 14 días de duración.</li>
            <li class="list-p">Conectividad por bluetooth.</li>
            <li class="list-p">Capacidad de la memoria interna de 16MB.</li>
            <li class="list-p">Sensores incluidos: acelerómetro, giroscopio, sensor óptico de frecuencia cardíaca ppg.</li>
            <li class="list-p">Correa intercambiable por otros colores, no incluidos en el producto.</li>
        </div>
        <a class="a2-product" href="">ver caracteristicas</a>
        <p class="p2-product">opciones de compra <br><a class="a-product" href="">53 productos nuevos desde $586.99 </a></p>

      


        
    </div>
    <div class="container-buy-producto">
        <img class="mercado-picture" src="./assets/img/camion.svg" alt="">
        <a class="shipping-product-1" href="">Llega gratis mañana <img class="mercado-picture" src="./assets/img/destello.svg" alt="">FULL</a>
        <p class="p-product">Comprando dentro de los próximos  19 min</p>
        <a class="a-product" href=""> <img src="" alt=""> Enviar a Puerto Vallarta 48310</a>
        <img class="mercado-store" src="./assets/img/tienda.svg" alt="">
        <p class="shipping-product">Retíralo gratis a <strong> partir del jueves</strong> en correos y otros puntos <br> <a class="a-product" href="">Ver en el mapa</a></p>
       
        <p class="p2-product"> <img src="" alt=""> Tienda oficial <a class="a-product" href="">Xiaomi</a></p>
        <p class="p2-product">109,985 ventas</p>
        <p>Stock disponible</p>
        <a class="a-product" href="">Cantidad:<strong> 1 unidad</strong><a class="p-product">(6111 disponibles)</a></a>
        <p class="p-product">Puedes comprar hasta 10 unidades</p>
        <button class="button-ingresar" ><a  href="">Continuar</a></button>
        <button class=second-button-ingresar><a href="">Crear cuenta</a></button>
    <div class="container-Shipping-producto">
        
         <p class="p-mercado"> <img class="mercado-lightning" src="./assets/img/destello.svg" alt=""><strong>FULL</strong> te da envío gratis Agrega a tu carrito 299 en productos Full y recíbelos <br> gratis.</p>  
         <img class="mercado-truck" src="./assets/img/camion.svg" alt="">
    </div>
         <p class="p1-product"> <a class="a1-product" href="">Devolucion gratis.</a>Tienes 30 días desde que lo recibes.<img class="icons-1"src="./assets/img/flecha-izquierda.svg" alt=""></p>
         <p class="p1-product"> <a class="a1-product" href="">Compra Protegida,</a>recibe el producto que esperabas o te devolvemos tu dinero.<img class="icons-2"src="./assets/img/escudo.svg" alt=""></p>
         <p class="p1-product"> <a class="a1-product" href="">Devolucion gratis.</a>Tienes 30 días desde que lo recibes.<img class="icons-3"src="./assets/img/trofeo.svg" alt=""></p>
         <p class="p1-product"> <a class="a1-product" href="">Mercado Puntos.</a>Sumas 40 puntos.<img class="icons-4"src="./assets/img/liston.svg" alt=""></p>
    </div>
</section>

<!-- CODIGO RECICLADO DE CONTAINER  -->

<section class="four-section">
    <h2 class="first-title">Quienes vieron este producto también compraron</h2>
      <div class="container">
        <a routerLink="/producto">
          <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
          <h3 class="price">$ 3,333</h3>
          <h5 class="promotion">12x $270.00 sin intereses</h5>
          <a class="travel"href="">Envio gratis</a>
          <img class="third-image" src="./assets/img/free.svg" alt="">
          <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
         </a>
      </div>
      
      <div class="container">
        <a href="">
        <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
        <h3 class="price">$ 2,222</h3>
          <h5 class="promotion">12x $270.00 sin intereses</h5>
          <a class="travel" href="">Envio gratis</a>
          <img class="third-image" src="./assets/img/free.svg" alt="">
          <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
         </a>
    </div>
    <div class="container">
      <a href="">
        <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
        <h3 class="price">$ 1,111</h3>
          <h5 class="promotion">12x $270.00 sin intereses</h5>
          <a class="travel" href="">Envio gratis</a>
          <img class="third-image" src="./assets/img/free.svg" alt="">
          <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
         </a>
    </div>
    </section>






<section class="second-section-product">
<div class="first-container-product">
  <h3 class="characteristic">Características de Xiaomi Mi Smart Band 5 XMSH10HM 1.1 "</h3>
  <p class="description-product"><img src="" alt="">Tipo de pantalla: AMOLED</p>
  <p class="description-product"><img src="" alt="">Duración de la batería: 14 días</p>
  <p class="description-product"><img src="" alt="">Es resistente al agua: Sí</p>
  <p class="description-product-2"><img src="" alt="">Con pantalla táctil: Sí</p>
  <p class="description-product-2"><img src="" alt="">Con GPS: No</p>
  <p class="description-product-2"><img src="" alt="">Con Bluetooth: Sí</p>
  <p class="a-description"><a class="a-description"href="">Ver más características</a></p>
  


<h3 class="product-description-title">Descripción</h3>
<p class="description-first">Con 10 años de trayectoria, Xiaomi se posiciona como uno de los líderes indiscutidos en el mercado de los smartwatches. Sus productos se destacan por la calidad, el diseño sencillo y muy buenas prestaciones. La Mi Band tiene todo lo necesario para acompañarte en tu rutina.</p>
<p class="description-first">La Mi Band 5 es un salto de evolución respecto a sus predecesoras. Sin perder su versatilidad, la nueva pulsera inteligente de Xiaomi presenta mejoras que la hacen mucho más cómoda y funcional. Una de las principales es el cargador magnético: basta con acercar el extremo de carga al dispositivo y comenzará a llenarse la batería. Por otro lado, su pantalla OLED presenta colores bien definidos y buen contraste, para visualizar con facilidad los datos incluso con luz solar directa. Y si hablamos de funcionalidades deportivas y de salud esta nueva versión se destaca de las demás por su precisión.</p>
</div>

<div class="second-container-product">
<h4 class="h4-ag-web">Información de la tienda</h4>
<img class="ag-web-img" src="./assets/img/ag-web.jpg" alt="">
<p class="ag-web-p"> <strong class="ag">AG-WEB</strong>  <br> Tienda oficial de Mercado Libre</p>
<img class="medalla" src="./assets/img/medalla.svg" alt="">
<p class="p-mercado-lider"> <strong class="strong-mercado-lider"> MercadoLíder Platinum</strong> <br> ¡Es uno de los mejores del sitio!</p>
<ul>
   <div class="color-1"></div> 
   <div class="color-2"></div> 
   <div class="color-3"></div> 
   <div class="color-4"></div> 
   <div class="color-5"></div> 
</ul>
    <p class="days-buying"><strong class="buying">108895</strong> <br> Ventas en los <br> últimos 60 días</p>
    <p class="attention"><img class="image-buy" src="./assets/img/comentario.svg" alt=""> <br> Brinda buena atención</p>
    <p class="time"><img class="image-buy" src="./assets/img/reloj-de-bolsillo.svg" alt=""> <br> Entrega sus productos a tiempo  </p>
<a class="ver-mas"href="">Ver más datos de AG-WEB</a>
</div>


<div class="third-container-product">
<h3 class="h4-ag-web">Otras opciones de compra</h3>
</div>
<div class="fourth-container-product">
    <h5 class="h5-price">$606  <span class="best-price">Meses sin intereses</span></h5>
    <li class="list-mercado-1">12 meses de 50 pesos sin intereses</li>
    <li class="list-mercado-2">Llega gratis entre el lunes y el jueves 17 de junio</li>
    <li class="list-mercado-2">Retíralo gratis en correo y otros puntos entre el viernes y el martes</li>
    <p class="information-buy">Vendido por<a href="" class="a-information">EN GRUPOCOMERCIAL</a></p>
    <p class="sell">5,908 ventas</p>
    <button class="button-comprar" ><a  href="">Comprar ahora</a></button>
    <button class="second-button-comprar"><a href="">Agregar carrito</a></button> 
</div>

<div class="five-container-product">
    <h5 class="h5-price">$585<span class="best-price">Mejor precio</span></h5>
    <li class="list-mercado-1">12 meses de 58 pesos sin intereses</li>
    <li class="list-mercado-2">Llega gratis el sábado</li>
    <li class="list-mercado-2">Retíralo gratis en correo y otros puntos entre el viernes y el miércoles 16 de junio</li>
    <p class="information-buy">Vendido por<a href="" class="a-information">COMERCIOFIVEBYFIVE</a></p>
    <p class="sell">1,619 ventas</p>
    <button class="button-comprar" ><a  href="">Comprar ahora</a></button>
    <button class="second-button-comprar"><a href="">Agregar carrito</a></button>  
</div>
<div class="six-container-product" >
    <a href="" class="see-more">Ver más opciones desde $585</a>
</div>

<div class="seven-container-product">
    <p class="title-pay">Medios de pago</p>
    <p class="credit-card">Tarjetas de crédito</p>
    <p class="li-pay">¡Paga en hasta 12 meses!</p>
    <p><img class="image-form-first" src="./assets/img/mastercard.png" alt=""><img class="image-form-pay" src="./assets/img/visa.png" alt=""><img class="image-form-pay" src="./assets/img/paypal.png" alt=""></p>
    <p class="p-months">Hasta 12 mensualidades sin tarjeta</p>
    <img class="mercado-compra" src="./assets/img/mercado-compra.png" alt="">
    <p class="debit-card">Tarjetas de débito</p>
    <p><img class="image-form-first" src="./assets/img/bancomer.png" alt=""><img class="image-form-pay" src="./assets/img/visa.png" alt=""><img class="image-form-pay" src="./assets/img/paypal.png" alt=""></p>
    <p><img class="image-form-first" src="./assets/img/mastercard.png" alt=""></p>
    <p class="debit-card">Efectivo</p>
    <img class="image-form-first" src="./assets/img/oxxo.png" alt="">
    <p><a class="a-pay" href="">Conoce otros medios de pago</a></p>
</div>


</section>
</section>
