<section class="header">
    <ul class="list-header">
      <li ><a class="list-ofertas" href="">Ofertas</a></li>
      <li><a href="">¡Encuentra precios increibles cada dia!</a></li>
    </ul>
  <div class="container-img">
    <img  src="./assets/img/etiqueta.svg" alt="" class="img-header">
    <a class="a-header" href="">Todas las ofertas</a>
  </div>
  <div class="container-img">
    <img src="./assets/img/relampago.svg" alt=""  class="img-header">
    <a class="a-header" href="">Ofertas relampago</a>
  </div>
  <div class="container-img" id="videogame">
    <img src="./assets/img/consola.svg" alt=""  class="img-header">
    <a class="a-header" href="">Videojuegos</a>
  </div>
  <div class="container-img" id="market">
    <img src="./assets/img/comestibles.svg" alt=""  class="img-header">
    <a class="a-header" href="">Supermercado</a>
  </div>
  <div class="container-img" id="headphones">
    <img src="./assets/img/audifonos.svg" alt=""  class="img-header" >
    <a class="a-header" href="">Audifonos</a>
  </div>
  <div class="container-img" id="money">
    <img src="./assets/img/dinero.svg" alt=""  class="img-header" >
    <a class="a-header" href="">Menos de 500$</a>
  </div> 
</section>











<section class="four-section">
  <a class="container-1" href="">
        <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
        <strong class="offer">OFERTA DEL DIA</strong>
        <h3 class="price">$ 3,333</h3>
        <h5 class="promotion">12x $270.00 sin intereses</h5>
        <a class="travel"href="">Envio gratis</a>
        <img class="third-image" src="./assets/img/free.svg" alt="">
        <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
  </a>
    <a class="container-2" href="">
      <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
      <strong class="offer">OFERTA DEL DIA</strong>
      <h3 class="price">$ 2,222</h3>
        <h5 class="promotion">12x $270.00 sin intereses</h5>
        <a class="travel" href="">Envio gratis</a>
        <img class="third-image" src="./assets/img/free.svg" alt="">
        <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
      </a>
  
  <a  class="container-3" href="">
      <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
      <strong class="offer">OFERTA DEL DIA</strong>
      <h3 class="price">$ 1,111</h3>
        <h5 class="promotion">12x $270.00 sin intereses</h5>
        <a class="travel" href="">Envio gratis</a>
        <img class="third-image" src="./assets/img/free.svg" alt="">
        <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>   
      </a>
  <div class="ofertas">
    <ul>
      <li class="title">Todas</li>
      <li ><a href="">10,000 productos</a></li>
      <li class="title">Tipo de oferta</li>
      <li><a href="">Oferta del día (138)</a></li>
      <li><a href="">Oferta relámpago (173)</a></li>
      <li><a href="">Recomendado Mercado Libre (83)</a></li>
      <li class="title">Categorías</li>
      <li><a href="">Todas las categorías</a></li>
      <li><a href="">Accesorios para Vehículos (901)</a></li>
      <li><a href="">Agro (1)</a></li>
      <li><a href="">Alimentos y Bebidas (238)</a></li>
      <li><a href="">Animales y Mascotas (149)</a></li>
      <li><a href="">Antigüedades y Colecciones (64)</a></li>
      <li><a href="">Arte, Papelería y Mercería (219)</a></li>
      <li><a href="">Bebés (270)</a></li>
      <li><a href="">Belleza y Cuidado Personal (1255)</a></li>
      <li><a href="">Cámaras y Accesorios (65)</a></li>
      <li><a href="">Celulares y Telefonía (664)</a></li>
      <li><a href="">Computación (590)</a></li>
      <li><a href="">Consolas y Videojuegos (142)</a></li>
      <li><a href="">Construcción (140)</a></li>
      <li><a href="">Deportes y Fitness (1016)</a></li>
      <li><a href="">Electrodomésticos (242)</a></li>
      <li><a href="">Electrónica, Audio y Video (501)</a></li>
      <li><a href="">Herramientas (397)</a></li>
      <li><a href="">Hogar, Muebles y Jardín (1933)</a></li>
      <li><a href="">Industrias y Oficinas (382)</a></li>
      <li><a href="">Instrumentos Musicales (46)</a></li>
      <li><a href="">Joyas y Relojes (634)</a></li>
      <li><a href="">Juegos y Juguetes (788)</a></li>
      <li><a href="">Libros, Revistas y Comics (115)</a></li>
      <li><a href="">Música, Películas y Series (163)</a></li>
      <li><a href="">Otras Categorías (64)</a></li>
      <li><a href="">Recuerdos, Cotillón y Fiestas (134)</a></li>
      <li><a href="">Ropa, Bolsas y Calzado (3035)</a></li>
      <li><a href="">Salud y Equipamiento Médico (571)</a></li>
      <li class="title">Costo de envío</li>
      <li><a href="">Gratis (8995)</a></li>
      <li class="title">Pago</li>
      <li><a href="">Meses sin intereses (8200)</a></li>
      <li class="title">Precio</li>
      <li><a href="">Hasta $500 (8804)</a></li>
      <li><a href="">$500 a $1000 (3007)</a></li>
      <li><a href="">Más de $1000 (2908)</a></li>
      <li class="title">Ofertas exclusivas</li>
      <li><a href="">Por tu nivel de Mercado Puntos (2071)</a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
  </div>
</section>

<section class="four-section">
  <a class="container-1" href="">
    <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 3,333</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
</a>
<a class="container-2" href="">
  <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 2,222</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
  </a>

<a  class="container-3" href="">
  <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 1,111</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>   
  </a>
</section>

<section class="four-section">
  <a class="container-1" href="">
    <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 3,333</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
</a>
<a class="container-2" href="">
  <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 2,222</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
  </a>

<a  class="container-3" href="">
  <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 1,111</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>   
  </a>
</section>

<section class="four-section">
  <a class="container-1" href="">
    <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 3,333</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
</a>
<a class="container-2" href="">
  <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 2,222</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
  </a>

<a  class="container-3" href="">
  <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 1,111</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>   
  </a>
</section>

<section class="four-section">
  <a class="container-1" href="">
    <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 3,333</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
</a>
<a class="container-2" href="">
  <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 2,222</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
  </a>

<a  class="container-3" href="">
  <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 1,111</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>   
  </a>
</section>

<section class="four-section">
  <a class="container-1" href="">
    <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 3,333</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
</a>
<a class="container-2" href="">
  <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 2,222</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
  </a>

<a  class="container-3" href="">
  <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 1,111</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>   
  </a>
</section>











    

  
    
