<section class="four-section">
      <div class="container">
          <img loading="lazy" src="./assets/img/reloj.jfif" alt="" class="second-image">
          <h3 class="price">$ 3,333</h3>
          <h5 class="promotion">12x $270.00 sin intereses</h5>
          <a class="travel"href="">Envio gratis</a>
          <img class="third-image" src="./assets/img/free.svg" alt="">
          <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
      </div>
      <div class="container">
        <img  loading="lazy" src="./assets/img/laptop.webp" alt=""class="three-image">
        <h3 class="price">$ 2,222</h3>
          <h5 class="promotion">12x $270.00 sin intereses</h5>
          <a class="travel" href="">Envio gratis</a>
          <img class="third-image" src="./assets/img/free.svg" alt="">
          <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
    </div>
    <div class="container">
        <img loading="lazy" src="./assets/img/playera.png" alt=""class="four-image" >
        <h3 class="price">$ 1,111</h3>
          <h5 class="promotion">12x $270.00 sin intereses</h5>
          <a class="travel" href="">Envio gratis</a>
          <img class="third-image" src="./assets/img/free.svg" alt="">
          <p class="description">reloj inteligente marca xiaomi con podometro incluido </p>
    </div> 
</section>






    

  
    
