<section class="header" id="header-ofert">
    <ul class="list-header">
      <li ><a class="list-ofertas" href="">Ofertas</a></li>
      <li><a href="">¡Encuentra precios increibles cada dia!</a></li>
    </ul>
  <div class="container-img">
    <img  src="./assets/img/etiqueta.svg" alt="" class="img-header">
    <a class="a-header" href="">Todas las ofertas</a>
  </div>
  <div class="container-img">
    <img src="./assets/img/relampago.svg" alt=""  class="img-header">
    <a class="a-header" href="">Ofertas relampago</a>
  </div>
  <div class="container-img" id="videogame">
    <img src="./assets/img/consola.svg" alt=""  class="img-header">
    <a class="a-header" href="">Videojuegos</a>
  </div>
  <div class="container-img" id="market">
    <img src="./assets/img/comestibles.svg" alt=""  class="img-header">
    <a class="a-header" href="">Supermercado</a>
  </div>
  <div class="container-img" id="headphones">
    <img src="./assets/img/audifonos.svg" alt=""  class="img-header" >
    <a class="a-header" href="">Audifonos</a>
  </div>
  <div class="container-img" id="money">
    <img src="./assets/img/dinero.svg" alt=""  class="img-header" >
    <a class="a-header" href="">Menos de 500$</a>
  </div> 
</section>











<section class="four-section">
  <a class="container-1" routerLink="/producto">
    <img loading="lazy" src="./assets/img/chelsea-boots.png" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 600</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</a>
<a class="container-2" routerLink="/producto">
  <img  loading="lazy" src="./assets/img/audifonos-deportivos.png" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 450</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </a>

<a  class="container-3" routerLink="/producto">
  <img loading="lazy" src="./assets/img/video.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 1200</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>   
  </a>
  <div class="ofertas">
    <ul>
      <li class="title">Todas</li>
      <li class="lista"><a href="">10,000 productos</a></li>
      <li class="title">Tipo de oferta</li>
      <li class="lista"><a href="">Oferta del día (138)</a></li>
      <li class="lista"><a href="">Oferta relámpago (173)</a></li>
      <li class="lista"><a href="">Recomendado Mercado Libre (83)</a></li>
      <li class="title">Categorías</li>
      <li class="lista"><a href="">Todas las categorías</a></li>
      <li class="lista"><a href="">Accesorios para Vehículos (901)</a></li>
      <li class="lista"><a href="">Agro (1)</a></li>
      <li class="lista"><a href="">Alimentos y Bebidas (238)</a></li>
      <li class="lista"><a href="">Animales y Mascotas (149)</a></li>
      <li class="lista"><a href="">Antigüedades y Colecciones (64)</a></li>
      <li class="lista"><a href="">Arte, Papelería y Mercería (219)</a></li>
      <li class="lista"><a href="">Bebés (270)</a></li>
      <li class="lista"><a href="">Belleza y Cuidado Personal (1255)</a></li>
      <li class="lista"><a href="">Cámaras y Accesorios (65)</a></li>
      <li class="lista"><a href="">Celulares y Telefonía (664)</a></li>
      <li class="lista"><a href="">Computación (590)</a></li>
      <li class="lista"><a href="">Consolas y Videojuegos (142)</a></li>
      <li class="lista"><a href="">Construcción (140)</a></li>
      <li class="lista"><a href="">Deportes y Fitness (1016)</a></li>
      <li class="lista"><a href="">Electrodomésticos (242)</a></li>
      <li class="lista"><a href="">Electrónica, Audio y Video (501)</a></li>
      <li class="lista"><a href="">Herramientas (397)</a></li>
      <li class="lista"><a href="">Hogar, Muebles y Jardín (1933)</a></li>
      <li class="lista"><a href="">Industrias y Oficinas (382)</a></li>
      <li class="lista"><a href="">Instrumentos Musicales (46)</a></li>
      <li class="lista"><a href="">Joyas y Relojes (634)</a></li>
      <li class="lista"><a href="">Juegos y Juguetes (788)</a></li>
      <li class="lista"><a href="">Libros, Revistas y Comics (115)</a></li>
      <li class="lista"><a href="">Música, Películas y Series (163)</a></li>
      <li class="lista"><a href="">Otras Categorías (64)</a></li>
      <li class="lista"><a href="">Recuerdos, Cotillón y Fiestas (134)</a></li>
      <li class="lista"><a href="">Ropa, Bolsas y Calzado (3035)</a></li>
      <li class="lista"><a href="">Salud y Equipamiento Médico (571)</a></li>
      <li class="title">Costo de envío</li>
      <li class="lista"><a href="">Gratis (8995)</a></li>
      <li class="title">Pago</li>
      <li class="lista"><a href="">Meses sin intereses (8200)</a></li>
      <li class="title">Precio</li>
      <li class="lista"><a href="">Hasta $500 (8804)</a></li>
      <li class="lista"><a href="">$500 a $1000 (3007)</a></li>
      <li class="lista"><a href="">Más de $1000 (2908)</a></li>
      <li class="title">Ofertas exclusivas</li>
      <li class="lista"><a href="">Por tu nivel de Mercado Puntos (2071)</a></li>
      <li class="lista"><a href=""></a></li>
      <li class="lista"><a href=""></a></li>
      <li class="lista"><a href=""></a></li>
    </ul>
  </div>
</section>

<section class="four-section">
  <a class="container-1" routerLink="/producto">
    <img loading="lazy" src="./assets/img/plancha.png" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 740</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</a>
<a class="container-2" routerLink="/producto">
  <img  loading="lazy" src="./assets/img/caja-herramientas.png" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 850</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </a>

<a  class="container-3" routerLink="/producto">
  <img loading="lazy" src="./assets/img/mouse.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 260</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>   
  </a>
</section>

<section class="four-section">
  <a class="container-1" routerLink="/producto">
    <img loading="lazy" src="./assets/img/audifonos-gamer.png" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 940</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</a>
<a class="container-2" routerLink="/producto">
  <img  loading="lazy" src="./assets/img/ventilador.png" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 375</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </a>

<a  class="container-3" routerLink="/producto">
  <img loading="lazy" src="./assets/img/xbox.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 12,300</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>   
  </a>
</section>

<section class="four-section">
  <a class="container-1" routerLink="/producto">
    <img loading="lazy" src="./assets/img/mazo.png" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 540</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</a>
<a class="container-2" routerLink="/producto">
  <img  loading="lazy" src="./assets/img/arena-gato.png" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 378</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </a>

<a  class="container-3" routerLink="/producto">
  <img loading="lazy" src="./assets/img/ventilador-pc.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 130</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>   
  </a>
</section>

<section class="four-section">
  <a class="container-1" routerLink="/producto">
    <img loading="lazy" src="./assets/img/guitarra.png" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 1850</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</a>
<a class="container-2" routerLink="/producto">
  <img  loading="lazy" src="./assets/img/bocina.png" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 2200</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </a>

<a  class="container-3" routerLink="/producto">
  <img loading="lazy" src="./assets/img/chamarra-cuero.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 820</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>   
  </a>
</section>

<section class="four-section">
  <a class="container-1" routerLink="/producto">
    <img loading="lazy" src="./assets/img/perfume.png" alt="" class="second-image">
    <strong class="offer">OFERTA DEL DIA</strong>
    <h3 class="price">$ 1900</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel"href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</a>
<a class="container-2" routerLink="/producto">
  <img  loading="lazy" src="./assets/img/pc-gamer.png" alt=""class="three-image">
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 13,590</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
  </a>

<a  class="container-3" routerLink="/producto">
  <img loading="lazy" src="./assets/img/taladro.png" alt=""class="four-image" >
  <strong class="offer">OFERTA DEL DIA</strong>
  <h3 class="price">$ 1400</h3>
    <h5 class="promotion">12x $270.00 sin intereses</h5>
    <a class="travel" href="">Envio gratis</a>
    <img class="third-image" src="./assets/img/free.svg" alt="">
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>   
  </a>
</section>











    

  
    
