<section class="section-ingresar">
    <div class="container-ingresar">
    <p class="p1-ingresar">¡Hola! Para seguir, ingresa tu teléfono, e‑mail o usuario</p>
    <p class="p2-ingresar">Teléfono, e-mail o usuario</p>
    <input class="input-ingresar"type="email">
    <button class="button-ingresar" ><a  href="">Continuar</a></button>
    <button class=second-button-ingresar><a href="">Crear cuenta</a></button>
</div>
</section>
<p class="privacity">Protegido por reCAPTCHA <a href="">Privacidad-Condiciones</a></p>

