.publicity{
    grid-column: 2;
    grid-row: 1;
    display: grid;
    justify-self: center;
    height: 400px;
    width: 412px;
}

.second-section{
    display: grid;
   grid-template-columns: 10% 80% 10%;
   grid-template-rows: 70% 30%;
   
   }
   